<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Informes_V3.Properties.Settings.bd_ertesConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=bd_ertes;Persist Security Info=True;User ID=sa;Password=yourStrong(!)Password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>